.countdown_components {
  display: flex;
  width: 100%;
  max-width: 420px;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 32px;
  @media (max-width: 900px) {
    margin-top: 20px;
    max-width: unset;
  }
  &_item {
    width: 25%;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--rounded-xl, 12px);
    border: 3px solid #4d4d4d;
    background: linear-gradient(180deg, #000 0%, #313131 100%);
    @media (max-width: 900px) {
      height: 90px;
      width: 25%;
    }
    @media (max-width: 460px) {
      height: 80px;
    }
    @media (max-width: 430px) {
      height: 61px;
    }
    @media (max-width: 350px) {
      height: 55px;
    }
    &_text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: var(--15, 6px);
      @media (max-width: 900px) {
        gap: 5px;
      }
      &_inner {
        color: #fff;
        text-align: center;
        font-family: Inter;
        font-size: 30px;
        font-style: normal;
        font-weight: 300px;
        line-height: 100%; /* 30px */
        @media (max-width: 900px) {
          font-size: 22px;
        }
        &_under {
          color: #fff;
          font-family: Inter;
          font-size: 12px;
          font-style: normal;
          font-weight: 4 00;
          line-height: 100%; /* 12px */
          @media (max-width: 900px) {
            font-size: 9px;
          }
        }
      }
    }
  }
}
